/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color: rgb(238, 238, 238);
}

/* barra de navegação superior */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 40px;
}

.usuario_img {
    height: 40px;
}

/* Botão de navegação */
.nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-toggle img {
    height: 30px;
}

/* Links de navegação */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    display: none; /* Adicionado para esconder links por padrão */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #000; /* Alterado para preto para melhorar a visibilidade */
    text-decoration: none;
    padding: 20px;
}

/* responsividade */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        /* height: 100%; */
        top: 0px;
        left: 0px;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 0px;
    }

    .nav-links.active {
        display: flex;
    }
}

@media (min-width: 769px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        /* height: 100%; */
        top: 0px;
        left: 0px;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 0px;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Barra de Navegação Inferior */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    /* border-top: 2px solid #444; */
}

.bottom-nav-link {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    color: #444;
    text-decoration: none;
}

.bottom-nav-link img {
    height: 30px;
    display: block;
    margin: 0 auto 5px;
}

.bottom-nav-link span {
    display: block;
    font-size: 12px;
}

.bottom-nav-link.active {
    border-top: 3px solid #ff6200;
}

/* conteúdo ___________________________ */



/* módulos rápidos */

.modulos_rapidos {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;
    padding: 2%;
}

.modulos_rapidos a {
    text-decoration: none;
    color: rgb(86, 0, 215);
}

.modulos_rapidos_superior {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.carrossel_modeulos_rapidos {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    padding: 10px 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    touch-action: pan-y;
}

.carrossel_modeulos_rapidos::-webkit-scrollbar {
    display: none;
}

.carrossel_modeulos_rapidos_item {
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    touch-action: pan-y;
}

.carrossel_modeulos_rapidos_item a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    /* pointer-events: none; */
    display: block;
}

.modulos_rapidos {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;
    padding: 2%;
    overflow: hidden;
}

.carrossel_modeulos_rapidos {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    padding: 10px 0;
    transition: transform 1s ease-in; 
}

.carrossel_modeulos_rapidos::-webkit-scrollbar {
    display: none;
}

.carrossel_modeulos_rapidos_item {
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.carrossel_modeulos_rapidos_item a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.carrossel_modeulos_rapidos:hover {
    cursor: grab;
}

.carrossel_modeulos_rapidos:active {
    cursor: grabbing;
}

/* ______________________________________________ */

/* GUIA CURSOS */

/* Estilos para o carrossel de cursos */
.carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    padding: 10px 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.carousel-item a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.carousel-item:hover {
    cursor: pointer;
}
